/elpa
/custom.el
/projectile-bookmarks.eld
/auto-save-list
/bookmarks
/recentf
/eshell
/transient
/perspective.el
/.DS_Store
/forge-database.sqlite
/tramp
/.cache/
/.last-package-update-day
/.lsp-session-v1
/bm-repository
/projects
/url/
