/elpa/
/custom.el
/auto-save-list/
/transient/
/.DS_Store
/forge-database.sqlite
/.cache/
/.last-package-upgrade
/.lsp-session-v1
/projects
/README.el
/eln-cache/
/bookmarks
/eshell/
/history
/places
/recentf
/.org-id-locations
/tree-sitter/
tramp
/url
/ielm-history.eld
/multisession/